@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');

/* .title{
    background-color: #fdcc46;
    height: 50px;
    width: auto;
    position: absolute;
    border-radius: 40px;
    margin-top: -20px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
} */

.title span{
    color: #ffff;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}
.div-s:hover{
    background-color: #daa924;
    cursor: pointer;
}

.list-unstyled li{
    margin-top: 10px;
}

.expanded {
    margin-left: 10px;
}

.centrado{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

td > p{
    text-align: left;
    font-family: 'Poppins',sans-serif ;
    /* font-size: 15px; */
    font-size: 18px;
    margin-top: 10px;
}

/* td {
    font-size: 18px;
} */

th {
    font-size: 18px;
}

table, .contitulo {
    margin-top: 25px;
}
.fa-times{
    color: #ffff;
    margin-right: 15px;
    cursor: pointer;
}
.redondo {
    border-radius: 30px;
}

.row {
    margin-bottom: 25px;
}

.col-md-4{
    background-color: #FFF0CC; 
    margin-left: 70px; 
    border-radius: 30px;
}

h2, h3, h4 {
    color: #FDCB46;
}
.col-md-7 {
    background-color: #ffff;
    margin-top: 35px;
    height: 600px;
    padding: 50px;
    border-radius: 30px;
    overflow: auto;
}

.title {
    background-color: #fdcc46;
    height: 50px;
    width: auto;
    position: absolute;
    border-radius: 40px;
    margin-top: -70px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.col-md-4 {
    background-color: #ffff;
    margin-top: 35px;
    margin-left: 90px;
    height: 200px;
    padding: 50px;
    border-radius: 30px;
}

.conteiner-btn{
    display: flex;
    justify-content: center;
}

.btn-outline-warning {
    margin: 20px;
}

.list-unstyled_li {
    color: #fdcc46;
    font-weight: bold;
}

.table_action {
    border: none;
}
.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 200px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
.search-box:not(:focus) {
    text-indent: -5000px;
}
#search-submit {
    position: relative;
    left: -5000px;
}
.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}
.search-container{
    display: inline-block  !important;
}
.fa-search{
    margin-left: -27px;
}
.fa-pen{
    font-size: 20px;
    color: #ecb725;
    margin-top: 5px;
}
.fa-backspace{
    font-size: 20px;
    color: rgb(214, 70, 99);
    margin-top: 10px;
}
.fa-map-marker-alt{
    font-size: 20px;
    color: rgb(214, 70, 99);
    margin-top: 10px;
}
.modal-content{
    margin-top: 30vh;
    border-radius: 30px;
}
.modal-header{
    background-color: #ecb725;
    color: #ffff;
    border-radius: 30px;
    margin: -20px -20px;
    width: 350px;
    height: 55px;
}
.modal-body{
    margin-top: 20px;
}
.modal-title{
    margin-left: 20px;
}
.alert-danger{
	background-color: rgba(255, 255, 255, 0);
}
.alert{
	font-family: 'Poppins', sans-serif;
	color: rgb(211, 7, 85);
	font-weight: bold;
	font-size: 14px;
    padding: 0;
    margin-bottom: 0;
}
@media (max-width: 1380px){
    .container{
        margin-left: 83px;
    }
    .col-md-7{
        margin-top: 0;
        height: 500px;
    }
    .col-md-4{
        margin-top: 0;
    }
    th, td > p{
        font-size: 14px;
    }
    .title{
        height: 43px;
    }
    .title span{
        font-size: 16px;
    }
}
