<div class="container-fluid">
    <div class="container d-flex justify-content-center">
        <div class="card">
            <!-- Pills navs -->
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active titulo" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">Ingresa 3 Menús</a
            >
            </li>
        </ul>

    <!-- Pills content -->
    <div class="tab-content">
      <div class="text-center mb-3">
        <img src="./assets/fondoLogin.png" height="245" alt="..." />
      </div>
      <div class="text-center mb-3">
        <label class="visually-hiden" for="inlineFormSelectPref"></label>
        <div class="cont-select">
        <select class="form-select" aria-label="Default select example"  [(ngModel)]="opcionSeleccionado" (change)="capturar()">
          <option value="0">Selecciona una categoría</option>
          <option *ngFor="let dato of lista">{{dato}}</option>
                    
        </select>
        <!-- Prueba para ver la opción seleccionado -->
        <p >Has seleccionado la opción # {{ categoria }}</p>
       </div>
      </div>
          <form #f="ngForm" (ngSubmit)="onRegisterMenu()" novalidate>
            <div class="cont-form">
            <div class="row">
              <div class="col-md-6">
                <div class=" mb-3">
                  <label class="form-label" for="registerName">Nombre</label>
                  <input type="text"  name="nombre" id="nombre" class="form-control" [(ngModel)]="nombre" required />
                </div> 
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="registerUsername">Descripción</label>
                  <input type="text"  name="descripcion" id="descripcion" class="form-control" [(ngModel)]="descripcion" required pattern="^.{1,30}$" #descref="ngModel"/>
                  <div *ngIf="descref.errors &&(descref.touched || descref.dirty)" class ="alert alert-danger">
                  <div [hidden]="!descref.errors?.pattern">
                    La descripción supera los 30 caracteres
                  </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <label class="form-label" for="registerEmail">Costo</label>
                  <input type="number" id="typeNumber" name="costo" class=" border form-control form-control-lg" [(ngModel)]="costo" required pattern="^\d+$" #costoref="ngModel"/>
                </div>
              <div *ngIf="costoref.errors &&(costoref.touched || costoref.dirty)" class ="alert alert-danger">
                  <div [hidden]="! costoref.errors?.pattern">
                    Costo inválido
                  </div>
              </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3"><!-- mb-1 imagen-select -->
                  <label for="formFileLg" class="form-label">Imagen del menú</label>
                  <input class="form-outline form-control " type="file" #file placeholder="Subir foto" (change)="subirIcono(file.files)"/>
                </div>  
              </div>
            </div>
            <div class="row col-md-12 ">
              <div class="col text-center">
                <div class="form-check">
                  <label>
                      <input (change)="onChange()" class="form-check-input" type="checkbox" name="promocion"  [(ngModel)]="promocion">Promoción
                  </label>
                </div>  
              </div>
              <div class="col-md-6">
                <div class="mb-3" *ngIf="isPromo">
                  <label class="form-label"  for="registerPassword">Descuento</label>
                  <input type="number" name="descuento" id="typeNumber" class=" border form-control form-control-lg" [(ngModel)]="descuento" required pattern="^\d+$" #descuentoref="ngModel" />
                </div>
                <div *ngIf="descuento > 100 || descuento < 0" class ="alert alert-danger">
                    <div [hidden]="! descuentoref.errors?.pattern">
                      Descuento inválido
                    </div>
                </div>
              </div>
            </div>

            <div class="col text-center" *ngIf="!((costoref.errors &&(costoref.touched || costoref.dirty) || descref.errors &&(descref.touched || descref.dirty) || nombre == '' || descripcion == '' || costo == undefined || categoria == '0' || categoria == undefined || descuento > 100 || descuento < 0)); else btnDisabled">
              <button type="submit" class="btn btn-warning btn-block mb-3" style="background-color: #FFA900;" >Crear Menú</button>
          </div>
          <ng-template #btnDisabled>
              <div class="col text-center">
                <button type="submit" class="btn btn-warning btn-block mb-3" style="background-color: #FFA900;" disabled >Crear Menú</button>
              </div>
          </ng-template>
          </div>
          </form>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-start bg-light mb-3" style="height: 100px;">
      <div class="col pgs">
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" id="progressBar" role="progressbar" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{cantMenu}} de 3 Menúes</div>
        </div>
      </div>    
    </div>
</div>
<script src="bs-stepper.min.js"></script>