@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
.col-md-11 {
    background-color: #ffff;
    margin-top: 35px;
    height: 600px;
    padding: 50px;
    border-radius: 30px;
    overflow-y: scroll;
}

/* .title {
    background-color: #fdcc46;
    height: 50px;
    width: 250px;
    position: absolute;
    border-radius: 40px;
    margin-top: -70px;
    margin-left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
} */

.title {
    background-color: #fdcc46;
    height: 50px;
    width: auto;
    position: absolute;
    border-radius: 40px;
    margin-top: -70px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    z-index: 40;
}

.title span{
    color: #ffff;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    z-index: 40;
}

.title_col_4 {
    background-color: #fdcc46;
    height: 50px;
    width: auto;
    position: absolute;
    border-radius: 40px;
    margin-top: -70px;
    margin-left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.title_col_4 span {
    color: #ffff;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;}

.btn-outline-warning {
    margin: 20px;
}

.list-unstyled_li {
    color: #fdcc46;
    font-weight: bold;
}

.table_action {
    border: none;
}

.fa-plus-circle {
    color: #fdcc46;
    font-size: 20px;
    margin: 10px;
}

.fa-plus-circle:hover {
    color: #ecb725;
    cursor: pointer;
}

.fa-bookmark {
    color: rgb(214, 70, 99);
    margin: 10px;
    font-size: 20px;
}

.fa-bookmark:hover {
    color: rgb(192, 47, 76);
    cursor: pointer;
}

.expanded {
    margin-left: 10px;
}

.div-s:hover {
    background-color: #daa924;
    cursor: pointer;
}

.item-list {
    font-family: 'Poppins', sans-serif;
    /* font-size: 13px; */
    font-size: 15px;
}

.container {
    margin-bottom: 40px;
}

.modal-content {
    margin-top: 30vh;
    border-radius: 30px;
}

.form-outline {
    margin: 20px 15px;
}

.modal-header {
    background-color: #ecb725;
    color: #ffff;
    border-radius: 30px;
    margin: -20px -20px;
    width: 350px;
    height: 55px;
}

.modal-body {
    margin: 30px 50px 0 50px;
}

.modal-title {
    margin-left: 20px;
}

td {
    font-size: 18px;
}

th {
    font-size: 18px;
}

.row {
    display: flex;
    justify-content: center;
}
.container{
    margin-bottom: 40px;
}

.navbar{
    background-color: rgba(34, 51, 34, 0);
    box-shadow: none;
}
.d-flex{
    border-radius: 30px;
}
.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}
.search-box + label .search-icon {
    color: black;
}
.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
    color: white;
}
.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 200px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
.search-box:focus + label .search-icon {
    color: black;
}
.search-box:not(:focus) {
    text-indent: -5000px;
}
#search-submit {
    position: relative;
    left: -5000px;
}
.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}
.search-container{
    display: inline-block  !important;
}
.fa-search{
    margin-left: -27px;
}
.fa-times-circle{
    font-size: 19px;
    color: rgb(214, 70, 99);
}
.fa-times{
    color: #ffff;
    margin-right: 15px;
    cursor: pointer;
}
@media (max-width: 1380px){
    .col-md-11{
        margin-top: 0;
        height: 520px;
    }
    th, td {
        font-size: 14px;
    }
    .title{
        height: 43px;
    }
    .title span{
        font-size: 16px;
    }
    .navbar{
        margin-top: -27px;
    }
}