@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@100&display=swap');
.title {
    background-color: #fdcc46;
    height: 50px;
    width: auto;
    position: absolute;
    border-radius: 40px;
    margin-top: -20px;
    margin-left: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.title span {
    color: #ffff;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.div-s:hover {
    background-color: #daa924;
    cursor: pointer;
}

.list-unstyled_li {
    color: #fdcc46;
    font-weight: bold;
}

.item-list {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    /* font-size: 13px; */
    font-size: 15px;
}

table,
.contitulo {
    margin-top: 25px;
}

.redondo {
    border-radius: 30px;
}

.row {
    margin-bottom: 25px;
}

.col-md-7 {
    background-color: #ffff;
    /* margin-top: 35px;
    height: 600px;
    padding: 50px; */
    border-radius: 30px;
    overflow-y: scroll;
}

.col-md-4 {
    background-color: #FFF0CC;
    margin-left: 70px;
    border-radius: 30px;
}

h2,
h3,
h4 {
    color: #FDCB46;
}

td,
th {
    font-size: 18px;
}

.modal-content {
    border-radius: 30px;
}

.form-outline {
    margin: 20px 15px;
}

.modal-header {
    background-color: #ecb725;
    color: #ffff;
    border-radius: 30px;
    margin: -20px -20px;
    width: 350px;
    height: 55px;
}

.modal-body {
    margin: 30px 50px 0 50px;
}

.modal-title {
    margin-left: 20px;
}

.carousel-indicators>button {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    opacity: 1;
}

.carousel-indicators>.active {
    background-color: #FDCB46;
}

.carousel-indicators {
    bottom: -50px;
}

.fa-search {
    color: #fdcc46;
    font-size: 20px;
    margin: 10px;
}

.fa-search:hover {
    color: #B9E0A5;
    cursor: pointer;
}

.fa-star {
    color: #ecb725;
    margin: 10px;
    font-size: 20px;
}

.fa-star:hover {
    color: #ecb725;
    cursor: pointer;
}

.fa-clipboard-check {
    color: #ecb725;
    margin: 10px;
    font-size: 20px;
}

.fa-clipboard-check:hover {
    color: #ecb725;
    cursor: pointer;
}
.alert-danger{
	background-color: rgba(255, 255, 255, 0);
}
.alert{
	font-family: 'Poppins', sans-serif;
	color: rgb(211, 7, 85);
	font-weight: bold;
	font-size: 14px;
    padding: 0;
    margin-bottom: 0;
}
.btn-group-lg>.btn, .btn-lg {
    font-size: 12px; 
    line-height: 1.1;
}
.contitolo{
    height: 400px;
}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}