<app-menu></app-menu>

<div class="container d-flex justify-content-center">
    <div class="card">
        <div class="card-cont">
            <div class="card-header">
                <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active">Ingresa una nueva contraseña</a>
                    </li>
                </ul>
            </div>
            <div class="card-body mb-4">
                <form #f="ngForm" (ngSubmit)="onChangePass()" novalidate>
                    <div class="form-group mb-4">
                        <label for="password">Nueva contraseña</label>
                        <input type="password" name="password" id="password" class="form-control" [(ngModel)]="password" required>
                    </div>

                    <div class="form-group mb-4">
                        <label for="confirmarPassword">Confirmación de contraseña</label>
                        <input type="password" name="confirmarPassword" id="confirmarPassword" class="form-control" [(ngModel)]="confirmarPassword" required>
                    </div>

                    <button class="btn btn-primary btn-block mb-4" [disabled]="!f.valid">
                        <i class="fas fa-key"></i> Modificar</button>

                </form>

            </div>
        </div>
    </div>
</div>